html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

body {
    max-width: 1440px;
    margin: 0 auto;
    background: #FFFFFF;
    font: 20px Inter;
    color: #636060;
}

.main-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.wrapper {
    max-width: 1440px;
    padding: 0 109px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: 100%;
}

button {
    margin: 0 10px 10px 0;
    width: 161px;
    height: 50px;
    border: 1px solid #E06733;
    border-radius: 5px;
    background: transparent;
    color: #E06733;
    font: 20px Inika;
    text-align: center;
    transition: 0.3s;
}

@media (hover :hover) {
    button:hover {
        cursor: pointer;
        background: #E06733;
        color: #FFFFFF;
    }
}

.button-active {
    background: #E06733;
    color: #FFFFFF;
}

/* header styles strart */

header {
    margin: 0 auto;
    padding: 42px 0;
    background: #EDF2EC;
    font: 16px Inika;
    color: #010201;    
}

.navbar {
    margin: 0 2px;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    width: 452px;    
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-item span {
    color: #E06733;
}

@media (hover: hover) {
    .nav-item a:hover {
        color: #E06733;
        transition: 0.5s;
    }
}

.logo span {
    position: relative;
    left: 21px;
}

.logo img {
    position: absolute;
    top: 53px;
    width: 20px;
    height: 20px;  
}

.burger-menu,
.burger-menu-close {
    display: none;
}

/* header styles end */

/* welcome section styles start */

.welcome {
    background: #EDF2EC;
}

.welcome-section {
    display: flex;
    justify-content: space-between;
    margin: 62px 0 58px 0;
}

.welcome-text {
    width: 549px;
}

.welcome-header {
    margin-top: 36px;
    color: #717171;
    line-height: 50px;
    font-size: 45px;
    font-weight: 700;
}

.welcome-header span {
    color: #499A18;
}

.welcome-text p {
    margin-top: 42px;
    margin-bottom: 48px;
    line-height: 35px;
}

.welcome-section button {
    width: 158px;
    height: 44px;
    border: 2px solid #E06733;
    border-radius: 10px;
    font: 16px Inter;
    text-transform: uppercase;
    color: #010201;
    text-align: center;
    transition: 0.3s;
}

@media (hover: hover) {
    .welcome-section button:hover,
    .city-card button:hover {
        color: #FFFFFF;
    }
}

/* welcome section styles end */

/* about section styles start */

.about-section {
    display: flex;
    justify-content: space-between;
    margin: 93px auto;
}

.about-section-text {
    width: 605px;
    line-height: 30px;
}

.about-header {
    margin-top: 68px;
    margin-bottom: 40px;
    max-width: 463px;
    font: 40px Inika;
    color: #499A18;
    line-height: 52px;
}

.about-header span {
    color: #E06733;
}

/* about section styles end */

/* service section styles start */

.service {
    background: #EDF2EC;
}

.service-content {
    max-width: 1017px;
    margin: 40px 0 80px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service-header {
    width: 306px;
    font: 40px Inika;
    color: #499A18;
    line-height: 52px;
}

.service-btns {
    margin-top: 29px;
    width: 569px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services {
    margin-bottom: 66px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.service-item {
    width: 330px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
    transition: 1s;
}

.service-item.unactive {
    filter: blur(2px);
    transition: 1s;
}

.service-picture {
    object-fit: cover;
    width: 329px;
    height: 350px;
    border-radius: 20px 20px 0 0;
}

.service-card {
    width: 330px;
    height: 100px;
    background: transparent;
    border: 1px solid #E3E1D5;
    border-radius: 0 0 20px 20px;
    text-align: center;
}

.service-name {
    margin: 10px;
    color: #E06733;
    font: 20px Inter;
    font-weight: 700;    
}

.service-description {
    color: #717171;
    font: 16px Inter;
}

/* service section styles end */

/* prices section styles start */

.prices {
    color: #000000;
}

.prices-wrapper {
    margin: 40px 0 115px 0;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.prices-header,
.call-us-wrapper h3 {
    font-size: 40px;
    line-height: 50px;
}

.call-us-wrapper span {
    color: #499A18;
}

.prices-menu {    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.prices-items {
    margin-top: 60px;
    padding: 34px 41px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    width: 334px;
    min-height: 284px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
}

.prices-item {
    cursor: pointer;
    width: 250px;
    height: 50px;
    background: #EDF2EC;
    border-radius: 20px;
    padding: 0 40px;
    font-size: 20px;
    transition: 0.3s;
}

.prices-item.active {
    height: 154px;
    display: flex;
    flex-direction: column;
    background-color: #D6E7D2;
}

.prices-item:not(.prices-item.active) .prices-item-body {
    display: none;
}

.prices-item-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 20px;
    margin-top: 16px;
}

.accordion-btn {
    width: 17px;
    height: 17px;
    background: url('images/accordion_btn.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.3s;
}

.prices-item.active .accordion-btn {
    background: url('images/accordion_btn_dark.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);
}

.price-line {
    max-width: 164px;
    height: 0.5px;
    background: #AEA1A1;
    margin-top: 9px;
}

.prices-item-description {
    margin: 6px 0;
    line-height: 10px;
    font-size: 10px;
    font-weight: 300;
    color: #717171;
}

.prices-item-price {
    height: 17px;
    font-size: 12px;
    font-weight: 400;
}

.prices-item-price span {
    color: #E06733;
    font-size: 16px;
    font-weight: 700;
}

.prices-item-price span:first-child {
    font-size: 12px;
}

.order-btn {
    margin: 12px 0;
    padding: 3px 20px;
    width: 86px;
    height: 25px;
    border: none;
    border-radius: 10px;
    font: 14px Inter;
    font-weight: 700;
    line-height: 20px;
    background: #FFFFFF;
    color: #717171;
    text-align: center;
}

.call-us-wrapper {
    width: 452px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.contact-btn {
    margin: 38px 0;
}

.call-us-wrapper img {
    width: 152px;
    height: 175px;
}

/* prices section styles end */

/* contacts section styles start */

.contacts {
    background: #EDF2EC;   
}

.contacts-header {
    margin-top: 7px;
    margin-left: 49px;
    color: #499A18;
    font: 40px Inika;
    font-weight: 700;
    line-height: 52px;
}

.contacts-container {
    display: flex;
    padding-top: 53px;
    justify-content: space-between;
}

@keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.selection-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    margin-top: 95px;
    margin-bottom: 47px;
    color: #717171;
    letter-spacing: 0.05em;
    transition: 0.3s ease-in-out;
}

.select-container {
    width: 450px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 35px 5px 20px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.selection-menu.active .select-container {
    width: 451px;
    background: #C1E698;
    border: 1px solid #D6E7D2;
    box-shadow: none;
}

.city-accordion-btn {
    cursor: pointer;
    width: 17px;
    height: 17px;
    background: url('images/accordion_btn_dark.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.3s;
}

.selection-menu.active .city-accordion-btn {
    background: url('images/accordion_btn_green.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);
}

.selection-menu-body {
    display: none;
    position: absolute;
    top: 50px;
    width: 450px;
    padding-top: 15px;
    padding-bottom: 31px;
    background: #D6E7D2;
}

.selection-menu.active .selection-menu-body {
    display: block;
    animation: slideDown 300ms ease-in-out;
}
           
.selection.active {
    font-size: 16px;
}

.option {
    height: 35px;
    margin-left: 26px;
    margin-top: 12px;
    color: #499A18;
    font-size: 16px;
    line-height: 40px;
    transition: 0.3s;
}

.option-underline {
    max-width: 380px;
    height: 1px;
    margin-top: -6px;
    margin-left: -6px;
    margin-right: 50px;
    background: #D9D9D9;
    transition: 0.3s;
}

@media (hover: hover) {
    .option:hover {
        cursor: pointer;
        color: #717171;
    }

    .option:hover .option-underline {
        background: #717171;
    }
}

.city-card.show {
    display: flex;
}

.city-card {
    display: none;
    flex-wrap: wrap;
    width: 448px;
    height: 214px;
    margin-top: 47px;
    margin-bottom: 14px;
    padding: 17px 76px 32px 33px;
    line-height: 40px;
    font-size: 16px;
    letter-spacing: 0.05em;
    border: 1px solid #000000;
    border-radius: 20px;
    background: transparent;
}

.card-option {
    width: 127px;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    color: #000000;
}

.info {
    width: 203px;
}

.city-card button {
    width: 122px;
    height: 26px;
    margin: 18px 0 0 129px;
    font-size: 10px;
    color: #717171;
}

/* contacts section styles end */

/* footer styles start */

footer {
    color: #000000;
    font: 20px Inter;
    line-height: 50px;
}

.footer-container {
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (hover: hover) {
    footer a:hover {
        transform: scale(1.1);
        filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
        transition: 0.3s;
    }
}

.footer-data {
    width: 182px;
    display: flex;
    justify-content: space-between;
    padding-right: 13px;
}

.social-list {
    width: 188px;
    height: 50px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}   

.social-list li {
    display: flex;
    align-self: center;
}

.social-list img {
    display: flex;
    width: 32px;
    height: 32px;
}

/* footer styles end */

/* media start */

@media screen and (max-width: 1310px) {
    .welcome-section img,
    .about-section img {
        transform: scale(0.8);
    }

    .contacts-container {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .contacts-header {
        margin: 0 auto;
    }

    .city-container {
        margin: 30px auto;
        width: 450px;
    }

    .contact-woman-img {
        order: 3;
    }
}

@media screen and (max-width: 1250px) {
    .wrapper {
        justify-content: center;
    }
    
    .welcome-section {
        margin: 40px 0 60px 0;
    }

    .about-section {
        margin-top: 40px;
        margin-bottom: 95px;
    }

    .service-item {
        width: 281px;
        margin-bottom: 38px;
    }

    .service-picture, 
    .service-card {
        width: 280px;
    }

    .service-description {
        width: 203px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1110px) {
    .wrapper {
        padding: 0 75px;
    }

    .about-section {
        flex-wrap: wrap;
        justify-content: center;
    }

    .services {
        justify-content: space-around;
    }

    .service-item {
        margin: 0 38px;
    }
}

@media screen and (max-width: 900px) {
    .wrapper {
        padding: 0 60px; 
    }

    header {
        padding: 35px 0;
    }

    .navbar {
        margin: 0 auto;
        height: 47px;
    }

    .logo img {
        top: 45px;
    }

    .welcome-section {
        flex-direction: row-reverse;
    }

    .welcome-header {
        margin: 0 auto;
        font-size: 35px;
        line-height: 50px;
    }

    .welcome-text p {
        margin: 30px 0 35px 5px;
        font-size: 16px;
        line-height: 25px;
    }

    .welcome-section img,
    .about-section img {
        transform: none;
    }

    .about-header {
        margin: 0 auto;
        font-size: 35px;
        line-height: 46px;
        text-align: center;
    }

    .about-section-text {
        width: auto;
    }

    .about-section-text p {
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .service-content {
        margin-top: 60px;
        margin-bottom: 30px;
        flex-direction: column;
        height: auto;
    }

    .service-header {
        font-size: 35px;
        line-height: 46px;
    }

    .service-btns {
        margin-top: 40px;
    }

    .services {
        margin-bottom: 32px;
        justify-content: space-around;
    }

    .service-item {
        margin: 0 0 38px 0;
    }

    .prices-wrapper {
        margin-bottom: 88px;
    }

    .prices-header {
        width: 135px;
        height: 49px;
        font-size: 35px;
        text-align: center;
    }

    .prices-items {
        margin: 50px auto;
    }
    
    .call-us-wrapper {
        margin-top: 103px;
    }

    .call-us-wrapper h3 {
        margin-left: 20px;
        font-size: 25px;
        line-height: 35px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        max-width: 768px;
        padding: 0 50px;
    }

    .welcome-text {
        width: 346px;
    }

    .about-section-text p {
        min-height: 208px;
    }

    .services {
        justify-content: space-between;
    }
 
    .contact-btn {
        margin-top: 27px;
        margin-bottom: 34px;
    }

    .contacts-container {
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
    }

    .contact-woman-img {
        order: 3;
        padding-left: 20px;
    }

    .contacts-header {
        margin: 0 auto;
    }

    .selection-menu {
        margin-top: 100px;
        margin-bottom: 250px;
    }

    .selection-menu.move {
        margin-top: 61px;
        margin-bottom: 14px;
    }

    .city-card {
        margin-top: 61px;
    }
    
    .footer-container {
        margin-top: 30px;
        margin-bottom: 18px;
        flex-direction: column;
        align-items: center;
        line-height: normal;
    }

    .footer-data {
        margin-bottom: 16px;
        padding: 0;
        width: 173px;
    }

    .social-list {
        margin-top: 16px;
    }
}

@media screen and (max-width: 680px) {
    header {
        padding: 36px 0;
    }

    .navbar {
        position: relative;
        height: 24px;
        margin: 0;
    }

    .logo img {
        top: 0;
    }

    .header-nav {
        position: fixed;
        width: 100%;
        height: 300px;
        top: 0;
        left: 0;
        background: #bad7a0e6;
        transform: translateY(-100%);
        transition: 0.3s;
    }

    .header-nav.active {
        transform: translateY(0);
    }

    .nav-list {
        margin-top: 20px;
        flex-direction: column;
        justify-content: center;
    }

    .nav-item {
        margin: 10px auto;
        font-size: 25px;
    }

    .burger-menu {
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 26px;
    }

    .burger-line {
        width: 40px;
        height: 0px;
        border: 1px solid #717171;
        transition: 0.3s;
    }

    .burger-menu.active :nth-child(2),
    .burger-menu.active :nth-child(3) {
        opacity: 0;
    }

    .burger-menu.active :first-child {
        transform: translateY(12px) rotate(45deg);
    }

    .burger-menu.active :last-child {
        transform: translateY(-12px) rotate(-45deg);
    }

    body.noscroll {
        overflow: hidden;
      }

    .welcome-section img {
        display: none;
    }

    .welcome-text {
        width: auto;
    }

    .service-btns {
        width: fit-content;
        justify-content: normal;
    }

    .services {
        flex-direction: column;
        align-content: center;
    }

    .prices-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .prices-items {
        width: 300px;
    }

    .prices-item {
        width: 216px;
    }

    .prices-item.active {
        height: 163px;
    }

    .call-us-wrapper {
        margin-top: 30px;
    }

    .call-us-wrapper h3 {
        margin: 0;
    }

    .selection-menu {
        width: 300px;
    }

    .select-container {
        width: 300px;
    }

    .selection-menu-body {
        width: 300px;
    }

    .city-card {
        padding: 21px 36px;
        width: 282px;
        height: 212px;
    }

    .card-option {
        width: 60px;
    }

    .card-option div:last-child {
        line-height: 20px;
    }

    .info div:last-child {
        line-height: 20px;
        padding-left: 3px;
    }

    .info {
        width: 143px;
    }

    .city-card button {
        margin-left: 50px;
    }
}

@media screen and (max-width: 380px) {
    button {
        width: 121px;
        height: 35px;
        font-size: 15px;        
    }
    
    .wrapper {
        max-width: 380px;
        padding: 0 25px;
    }

    header {
        padding: 36px 0;
    }

    .navbar {
        height: 24px;
        margin: 0;
    }

    .welcome-section {
        margin: 24px 0;
    }

    .welcome-header {
        font-size: 25px;
        line-height: 35px;
    }

    .welcome-text p {
        margin: 20px 0 25px 0;
        line-height: 25px;
    }

    .welcome-section button {
        margin: 0;
        width: 100px;
        height: 34px;
        font-size: 10px;
    }

    .about-section {
        margin-top: 30px;
        margin-bottom: 28px;
        font-size: 15px;
    }

    .about-header {
        margin-bottom: 15px;
        font-size: 25px;
        line-height: normal;
    }

    .about-section-text p {
        margin: 0;
        line-height: 25px;
        height: auto;
    }

    .service-content {
        margin-top: 30px;
        margin-bottom: 29px;
    }

    .service-header {
        width: 187px;
        font-size: 25px;
        line-height: normal;
    }

    .service-btns {
        justify-content: space-between;
        max-width: 262px;
    }

    .services {
        justify-content: center;
        margin-bottom: 0;
    }

    .service-name {
        margin: 8px;
    }

    .service-item {
        margin-bottom: 34px;
    }

    .service-item:last-of-type {
        margin-bottom: 27px;
    }

    .prices-wrapper {
        flex-wrap: wrap;
        margin-top: 25px;
        margin-bottom: 40px;
        justify-content: center;
    }

    .prices-menu {
        align-items: center;
    }

    .prices-header {
        height: auto;
        font-size: 25px;
        line-height: normal;
    }

    .prices-items {
        width: 224px;
        min-height: 235px;
        margin-top: 37px;
        margin-bottom: 19px;
        padding: 29px 22px;
        row-gap: 14px;
    }

    .prices-item {
        width: 180px;
        height: 50px;
        padding-left: 30px;
        font-size: 15px;
    }

    .prices-item.active {
        height: 173px;
    }

    .call-us-wrapper {
        margin-top: 0;
        align-items: center;
        width: 230px;
    }

    .call-us-wrapper h3 {
        font-size: 20px;
        text-align: center;
    }

    .call-us-wrapper img {
        display: none;
    }

    .contact-btn {
        margin-top: 21px;
        margin-bottom: 0;
    }

    .contacts-container {
        padding-top: 25px;
        justify-content: center;
    }

    .contacts-header {
        font-size: 25px;
        line-height: normal;
    }

    .selection-menu {
        margin-top: 80px;
        margin-bottom: 132px;
    }

    .select-container {
        padding: 5px 20px;
    }

    .city-card {
        margin-top: 49px;
    }

    .contact-woman-img {
        padding: 0;
    }

    .contact-woman-img.hide {
        display: none;
    }

    .selection-menu.move {
        margin-top: 42px;
        margin-bottom: 33px;
    }

    .footer-container {
        margin-top: 22px;
        margin-bottom: 7px;
        justify-content: center;
    }

    .social-list {
        margin-top: 3px;
    }
}

@media screen and (max-width: 350px) {
    .selection-menu {
        width: 250px;
    }
}

/* media end */
