@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}

.player {
  width: 300px;
}

.player.hide {
  display: none;
}

.song-title {
  padding: 5px;
  text-align: center;
}

.song-artist {
  font-size: 14px;
  color: #c9c9c9;
}

.player-controls-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin: 10px auto;
}

.current-time {
  position: absolute;
  top: -3px;
  left: -37px;
  font-size: 12px;
}

.full-time {
  position: absolute;
  top: -3px;
  right: -37px;
  font-size: 12px;
}

.track-time {
  position: relative;
  width: 220px;
  height: 7px;
  margin: 10px auto;
  background: transparent;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
}

.time-line {
  width: 0;
  height: 7px;
  background: #FFFFFF;
  border-radius: 2px;
}

.func-wrapper {
  width: 90px;
  display: flex;
}

.play-list-btn {
  background: url("../assets/svg/playlist.svg");
  background-size: 25px;
  width: 25px;
  height: 25px;
  margin-left: 5px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s; 
}

.volume-wrapper {
  width: 90px;
  display: flex;
  padding-left: 15px;
  align-items: center;
}

.volume {
  background: url("../assets/svg/volume.svg");
  background-size: 20px;
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.volume-bar {
  width: 50px;
  height: 5px;
  margin-left: 5px;
  background: transparent;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
}

.mute {
  background: url("../assets/svg/volume-mute.svg");
  background-size: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.volume-level {
  width: 75%;
  height: 5px;
  background: #FFFFFF;
  border-radius: 2px;
}

@keyframes slideDown {
  0% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.play-list {
  position: absolute;
  z-index: 10;
  width: inherit;
  height: 175px;
  overflow-y: scroll;
  text-align: left;
  animation: slideDown 0.3s ease-in-out;
}

.play-list.hide {
  display: none;
}

.play-list::-webkit-scrollbar {
  width: 5px;
}

.play-list::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.play-list::-webkit-scrollbar-thumb {
  background-color: #FFFFFF;
  border-radius: 2px;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 40px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.artist {
  font-size: 13px;
  color: inherit;
}

.item-active {
  color: #ffd600;
  opacity: unset;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "";
  background: url("../assets/svg/play.svg");
  background-size: 30px;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 7px;
  font-weight: 900;
}

.item-active::before {
  content: "";
  background: url("../assets/svg/pause.svg");
  background-size: 30px;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover,
.volume:hover,
.play-list-btn:hover,
.settings-btn:hover,
.todo-btn:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active,
.settings-btn:active,
.todo-btn:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.weather {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
}

.weather.hide {
  display: none;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
  transition: 0.3s; 
}

.time.hide {
  display: none;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.date.hide {
  display: none;
}

.greeting-container {
  display: flex;
  align-items: center;
  min-height: 48px;
  font-size: 40px;
  margin: 0 auto;
}

.greeting-container.hide {
  display: none;
}

.greeting {
  padding: 10px;
}

.name {
  padding: 10px;
  font-size: 40px;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
  width: 280px;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;  
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote-container.hide {
  display: none;
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}

.functions-wrapper {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

@keyframes slideUp {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

.settings {
  position: absolute;
  bottom: 35px;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  color: #000000;
  width: 500px;
  border-radius: 5px;
  padding: 10px 20px;
  transition: 0.5s;
  animation: slideUp 0.5s ease-in-out;
}

.settings.hide {
  display: none;
}

.section {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.section:last-child {
  border: 0;
}

.section-name {
  width: 150px;
  font-weight: 700;
  text-align: start;
  padding-top: 7px;
}

.options {
  display: flex;
  flex-direction: column;
  width: 310px;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}

.option.language {
  justify-content: center;
  column-gap: 10px;
}

.toggle {
  display: inline-block;
  cursor: pointer;
}

.toggle-checkbox {
  visibility: hidden;
  position: absolute;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  background: #ccc;
  width: 30px;
  height: 16px;
  border-radius: 8px;
  transition: 0.3s;
  vertical-align: middle;
}

.toggle-switch.language {
  background: #56c080;
}

.toggle-switch::before {
  content: "";
  position: absolute;
  display: block;
  background: #FFFFFF;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  top: 1.5px;
  left: 1.5px;
  transition: 0.3s;
}

.toggle-checkbox:checked + .toggle-switch {
  background: #56c080;
}

.toggle-checkbox:checked + .toggle-switch::before {
  left: 15.5px;
}

.tag {
  border: 0;
  border-radius: 2px;
  padding-left: 8px;
  background-color: #f0f0f0;
  outline: 0;
  height: 30px;
  width: 170px;
  font-size: 14px;
  margin: 10px 0;
}

.tag::placeholder {
  opacity: .6;
}

.tag:disabled {
  color: #aaaaaa;
}

.settings-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background: url("../assets/svg/settings.svg");
  background-size: 30px;
  width: 30px;
  height: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: 0.3s;
  transform: rotate(180deg);
}

.settings-btn.active,
.todo-btn.active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.custom-select {
  position: relative;
  margin: 9px 0;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.selected {
  width: 110px;
  height: 30px;
  padding: 6px;
  text-align: start;
}

.selected::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-left: 2px solid #000000;
  border-bottom: 2px solid #000000;
  transform: rotate(-45deg);
  position: absolute;
  top: 9px;
  right: 9px;
  transition: 0.3s;
}

.active::after {
  top: 12.5px;
  transform: rotate(135deg);
}

.select-items {
  position: absolute;
  top: 30px;
  left: 0;
  width: 110px;
  display: flex;
  flex-direction: column;
  background: #f0f0f0;
  border-radius: 0 0 3px 3px;
  animation: slideDown 0.2s ease-in-out;
}

.select-items.hide {
  display: none;
}

.item {
  width: 110px;
  height: 30px;
  padding: 6px;
  text-align: start;
}

.item:last-child {
  border-radius: inherit;
  cursor: pointer;
}

.item:hover {
  background: #ccc;
}

.selected:hover {
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.todo-btn {
  position: absolute;
  right: 25px;
  bottom: 20px;
  border: 0;
  background: transparent;
  color: #FFFFFF;
  font-size: 18px;
  opacity: .8;
  cursor: pointer;
  transition: .3s; 
}

.todo-container {
  position: absolute;
  right: 20px;
  bottom: 55px;
  width: 300px;
  min-height: 140px;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 10px 20px;
  transition: 0.5s;
  animation: slideUp 0.5s ease-in-out;
  padding: 10px 20px;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todo-container.hide {
  display: none;
}

.todo-folder {
  position: relative;
  width: 120px;
  height: 30px;
  border-radius: 3px;
  padding: 6px;
  text-align: start;
}

.todo-folder::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-left: 2px solid #000000;
  border-bottom: 2px solid #000000;
  transform: rotate(-45deg);
  position: absolute;
  top: 9px;
  right: 9px;
  transition: 0.3s;
}

.active::after {
  top: 12.5px;
  transform: rotate(135deg);
}

.todo-folder:hover {
  cursor: pointer;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  background: #f0f0f0;
}

.folder-menu {
  position: absolute;
  z-index: 10;
  width: 120px;
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  background: #f0f0f0;
  border-radius: 3px;
  animation: slideDown 0.2s ease-in-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.folder-menu.hide {
  display: none;
}

.menu-item {
  width: 120px;
  height: 30px;
  padding: 6px;
  text-align: start;
}

.menu-item:first-child {
  border-radius: 3px 3px 0 0;
}

.menu-item:last-child {
  border-radius: 0 0 3px 3px;
}

.menu-item:hover {
  background: #ccc;
  cursor: pointer;
}

.todo-input {
  font-size: 16px;
  height: 30px;
  border: 0;
  padding-left: 6px;
  outline: 0;
}

.todo-input::placeholder {
  opacity: .6;
}

.todo-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.todo-list-item {
  position: relative;
  z-index: 1;
  height: 25px;
  width: 250px;
  display: flex;
  margin-bottom: 1.5px;
}

.todo {
  position: relative;
  z-index: 50;
  padding: 5px;
  padding-right: 30px;
  font-size: 14px;
  width: 220px;
  border-radius: 4px;
  text-align: start;
}

.todo:hover {
  cursor: pointer;
  background: #f0f0f0;
}

.todo.done {
  background: #56c080;
  text-decoration: line-through;
}

.todo.done:after {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 6px;
  border-left: 3px solid #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
  transform: rotate(-45deg);
  position: absolute;
  top: 7px;
  right: 9px;
  transition: 0.3s;
}

.todo-list-item:hover {
  cursor: pointer;
  background: url('../assets/svg/delete.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 25px;
}

.todo-btn.hide {
  display: none;
}
